*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Arial;

    
    
    
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
    
}
body {
    text-align: left;
    color:black;
    
}
h1 {font-size: 22px;
    margin-bottom: 15px;
}
h2, h3 {font-size: 21px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}
.main-text {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
    
}
.hauptbox {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;;
    background-color: aqua;
    
}
.nebeninfos {
    margin-right: 40px;
    margin-left: 40px;
    background-color: blue;
    
    
}

.Logo img {
    width: 400px;
    height: 100px;
    margin-right: 40px;
    margin-left: 100px;
    margin-top: 30px;
}

.Autor1text {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.Autor1 {
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    
}


.Autor1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left
    
}



.Autor2text {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    
}

.Autor2 {
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 110px;
    margin-bottom: auto;
    
}


.Autor2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left
    
}

.navbar{
 background-color:blanchedalmond;   
 height: 55px; 
    position: fixed;
    width: 100%;
    
    
}
.navlist{
    margin-top: 5px;
  float: right;  
    
}
.navlist li{
display: inline-block;



}
.navlist li a{
 
color: lightslategray;
 margin:0 20px;   
 text-decoration: none;   
    
}
.navlist li a:hover{
 
color:darkred;
    
    
    
}