*{
    margin: 0;
    padding: 0;
    font-family: monospace, Arial;
    background:white;
    
}
 .container{   
     width:100%;
     margin: 0 auto;
}
.navbar{
    top: 0px;
    width:100%;
    height:90px;
    background: white;
    border-bottom: 3px solid aqua;
    position: fixed;
    z-index: 1;

}
.logo{
    position: absolute;
    width:200px;
    height: 50px;
    margin-top:20px;
    margin-left:10%;
    float: left;
}
.menu{
    position: relative;
    margin-right:10%;
    float: right;
    background: white;
    margin-top:35px;
    margin-bottom: 35px;
    
    
}
.menu li{
    padding-left: 50px;
    float: left;
    line-height: 20px;
    text-align: center;
    list-style:none;
    background: white;
    
}
.menu li a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: monospace;
    text-transform: uppercase;
    background: white;
    
    
}
.menu li a:link,
.menu li a:visited{
    color: black;
    
}

.menu li a:hover,
.menu li a:active {
    color: black;
    padding-bottom: 17px;
    border-bottom: 2px solid aqua;
    transition: border-bottom 0.2s;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
    
}

.Fotoslider{
        
}
.slidershow{
    position: relative;
    margin-top: 92px;
    width: 100%;
    height: 600px;
    overflow: hidden;
 
}
.middle{
    position: relative;
}
.navigation{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
    background-color: transparent;
}
.bar{
  width: 8px;
  height: 8px;
  border: 2px solid aqua;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
     overflow: hidden;
    border-radius: 50%;
}
.bar:hover{
  background: aqua;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.4s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.icons {
  float: left;
  width: 30%;
  padding: 1%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


body {
    text-align: left;
    color: black;
    
}
h1 {font-size: 22px;
    margin-bottom: 15px;
}
h2, h3 {font-size: 21px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}
.main-text {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
    
}
.hauptbox {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;;
    background-color: aqua;
    
}
.nebeninfos {
    margin-right: 40px;
    margin-left: 40px;
    background-color: blue;
    
    
}

.Logo img {
    width: 200px;
    height: 50px;
    margin-right: 400px;
    margin-left: 100px;
    margin-top: 0px;
}

.Autor1text {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.Autor1 {
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    
}


.Autor1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left
    
}



.Autor2text {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    
}

.Autor2 {
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 110px;
    margin-bottom: auto;
    
}


.Autor2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    
}

