*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Arial;
    background:black;
    
}
 .container{   
width:90%;
     margin: 0 auto;



}
.navbar{
   width:100%;
   overflow:hidden; 
    height:70px;
    line-height:70px;
    background:white;
    border-bottom: 2px solid aqua;
    
    
    
}
.logo{
    width:150px;
    height: 40px;
    margin-top:12px;
    margin-left:70px;
    float: left;
    
}
.menu{
    float: right;
    
    
}
.menu li{
   float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    
    list-style:none;
    background:white;
    
}
.menu li a{
   text-decoration: none;
    color: black;
    font-family: calibri;
    text-transform: uppercase;
   background:white;
    
    
}
.menu li a:hover{
   color:aqua; 
    
}











.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
    
}
body {
    text-align: left;
    color: white;
    
}
h1 {font-size: 22px;
    margin-bottom: 15px;
}
h2, h3 {font-size: 21px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}
.main-text {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
    
}
.hauptbox {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;;
    background-color: aqua;
    
}
.nebeninfos {
    margin-right: 40px;
    margin-left: 40px;
    background-color: blue;
    
    
}

.Logo img {
    width: 200px;
    height: 50px;
    margin-right: 400px;
    margin-left: 100px;
    margin-top: 0px;
}

.Autor1text {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.Autor1 {
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    
}


.Autor1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left
    
}



.Autor2text {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    
}

.Autor2 {
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 110px;
    margin-bottom: auto;
    
}


.Autor2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    
}

