.Überuns img{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    
    
    
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.Autorenfotos {
  float: left;
  width: 40%;
  padding: 5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.Yusuftext {
    position: relative;
    float: left;
    font-family: monospace;
    font-size: 18px;
    color: black;
    text-align: justify;
    display: inline;
    padding: 10%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.Marvintext{
    position: relative;
    float: right;
    font-family: monospace;
    font-size: 18px;
    color: black;
    text-align: justify;
    display: inline;
    padding: 10%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;

    
}




.navbar{
 background-color:blanchedalmond;   
 height: 55px; 
    position: fixed;
    width: 100%;
    
    
}
.navlist{
    margin-top: 5px;
  float: right;  
    
}
.navlist li{
display: inline-block;



}
.navlist li a{
 
color: lightslategray;
 margin:0 20px;   
 text-decoration: none;   
    
}
.navlist li a:hover{
 
color:darkred;
    
    
    
}